[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
setuptools="*"
drf-jwt = "*"
djangorestframework = "*"
drf-yasg = "*"
iso3166 = "*"

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
